<div class="form-group">
    <p id="error" class="error"></p>
    <form action="/api/v1/media/create/" method="POST" enctype="multipart/form-data" onsubmit="">
        <input type="type" name="name" class="form-control" required>
        <input type="file" id="file" name="video" accept='.mp4, .mkv' class="form-control" required onchange="checkFileType()">
        <br />
        <textarea name="subtitle" class="form-control" id="finalStr" cols="35" rows="15"
            placeholder="The input format must be in below format &nbsp; &nbsp; 00:00:23.000 --&gt; 00:00:26.000  Your Subtitle"
            readonly required></textarea>

        <br />

        <button onclick="submit(e)" class="btn btn-primary">Upload</button>
    </form>

    <div >
        <p id="scriptError" class="error"></p>
        <div class="timeInputs row" id="timeRange">
            <input type="text" id='startHH' maxlength="2" class="sec col-md-1" required /> : <input type="text" class="sec col-md-1" id='startMM'
               maxlength="2" required /> :
            <input type="text" id='startSS' maxlength="2" class="sec col-md-1" required /> . <input type="text" id='startMS'
                 maxlength="3" class="milisec col-md-1 " required />
            &nbsp;--&gt;&nbsp;
            <input type="text" id='endHH' maxlength="2" class="sec  col-md-1" required /> : <input type="text" id='endMM'
                 maxlength="2" class="sec col-md-1" required />
            : <input type="text" id='endSS' maxlength="2" class="sec col-md-1" required /> . <input type="text" id='endMS'
                 maxlength="3" class="milisec col-md-1" required />
            &nbsp;&nbsp;&nbsp; <button class="btn btn-primary" onclick="addSubtitle()">Add</button>
        </div>
        <textarea name="subtitleLineInput" class="form-control" id="currline" cols="35" rows="5"
            placeholder="Write your subtitle for spedified time frame"></textarea>
        <br />
        
        <br />


    </div>

</div>