<div class='row'>
    <div class='col-md-12'>
        <table class='table table-bordered'>
            <thead>
                <tr>
                    <th width="200">Name</th>
                    <th>Videos</th>
                </tr>
            </thead>
            <tbody id="tbodyList">
                
            </tbody>
        </table>
    </div>
</div>