<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Index</title>
</head>

<body>
    <h1><%= name %></h1>
    <video controls src=<%= src %>>
        <track default kind="captions" srclang="en" src=<%= subtitlesrc %> />
    </video>
</body>

</html>

<!-- Download the
        <a href="video/video.mp4">MP4</a>
        video, and
        <a href="subtitle/subtitle.vtt">subtitles</a>. -->